<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Off"
      internalLogFile="d:\log\internal-nlog.txt">


  <targets>
    <target xsi:type="File" name ="tracefilelog" filename="${basedir}\logs\nlog-trace-${shortdate}.log" layout="${longdate} ${logger} ${message}" />
    
    <target xsi:type="File" name ="debugfilelog" fileName ="${basedir}\logs\nlog-debug-${shortdate}.log" layout="${longdate} ${logger} ${message}" />

    <target xsi:type="File" name="infofilelog" fileName="${basedir}\logs\nlog-info-${shortdate}.log" layout="${longdate} ${logger} ${message}" />

    <target xsi:type="File" name="warningfilelog" fileName ="${basedir}\logs\nlog-warning-${shortdate}.log" layout="${longdate} ${logger} ${message}" />
  
    <target xsi:type="File" name="errorfilelog" fileName="${basedir}\logs\nlog-error-${shortdate}.log" layout="${longdate} ${logger} ${message}" />
  
    <target xsi:type="File" name="criticalfilelog" fileName="${basedir}\logs\nlog-critical-${shortdate}.log" layout="${longdate} ${logger} ${message}" />
  </targets>

  <rules>
    <logger name="*" level="Trace" writeTo ="tracefilelog"/>
    <logger name="*" level="Debug" writeTo ="debugfilelog"/>
    <logger name="*" level="Info" writeTo ="infofilelog"/>
    <logger name="*" level="Warn" writeTo ="warningfilelog"/>
    <logger name="*" level="Error" writeTo ="errorfilelog"/>
    <logger name="*" level="Critical" writeTo ="criticalfilelog"/>
  </rules>
</nlog>